body{
    margin: 0px;
    font-family: 'Montserrat';
}

#down-strip{
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95));
    height: auto;
    border-bottom: dashed 0.1px rgb(233 233 233 / 30%);
}

#about{
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95));
}

.container-x{
    display: flex;
    width: 1250px;
    height: 100%;
    margin: auto;
}

.navbar-x{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    align-items: center;
    font-size: 50px;
    width: 470px;
    color: #fff;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 820px;
    height: 100px;
}

.boxes{
    width: auto;
}

.options{
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
  
.options li{
    float: left;
}

#unic a{
    color: #000;
}

.options li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#right a{
    padding-right: 0px;
}

.body{
    display: flex;
}

.texts{
    width: 500px;
    height: 300px;
    display: flex;
    margin-left: 80px;
    flex-direction: column;
    margin-top: 115px;
    margin-right: 140px;
}

.box-text-unic-down{
    display: flex;
    align-items: flex-end;
    width: 190px;
    height: 100px;
    color: #fff;
    font-size: 36px;
}

.box-text-name{
    display: flex;
    align-items: center;
    height: 70px;
    color: #fff;
    font-size: 60px;
    margin-top: 10px;
}

.box-text-down{
    height: 40px;
    color: #fff;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.button{
    display: flex;
    justify-content:space-between;
    width: 245px;
}

.box-text-button{
    display: flex;
    justify-content: space-between;
}

.options-button{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    list-style: none;
    padding-left: 13px;
    padding-right: 5px;
    margin: 0px;
    overflow: hidden;
}
  
.options-button li{
    float: left;
    padding: 10px;
}

.options-button li a {
    font-size: 15px;
    color: rgb(255, 0, 0);
    display: block;
    padding: 0.3em;
    text-decoration: none;
}

.button-box-second{
    width: auto;
    display: flex;
}

.options-button-second{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
  
.options-button-second li{
    float: left;
    margin: 10px;
}

.options-button-second li a {
    font-size: 15px;
    color: rgb(255, 0, 0);
    display: block;
    padding: 0.3em;
    text-decoration: none;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-top: 50px;
}

.first-imagen{
    display: flex;
    align-items: flex-start;
    width: auto;
    height: 700px;
    margin-right: 50px;
}

.first-text{
    display: flex;
    width: auto;
    height: auto;
}

.drew{
    width: 20px;
    height: 2.7px;
    margin-top: 9px;
    background-color: #f00;
}

.second-drew{
    width: 3px;
    height: 2.7px;
    margin-top: 9px;
    background-color: #f00;
    margin-left: 2px;
}

.second-page{
    margin-top: 100px;
    height: auto;
}

.second-header{
    color: rgb(86 86 86);
    font-size: 14px;
    margin-left: 5px;
}

.first-title{
    font-size: 40px;
    width: auto;
    height: 50px;
    margin-bottom: 10px;
}

.paragraph{
    color: #707070;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.first-porcentage-box{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: #707070;
    margin-top: 20px;
}

.second-porcentage-box{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: #707070;
    margin-top: 20px;
}

.third-porcentage-box{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: #707070;
    margin-top: 20px;
}

.fourth-porcentage-box{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: #707070;
    margin-top: 20px;
}

.progress{
    border-radius: 20px !important;
    height: 15px !important;
}

.progress-bar{
    background-color: #ff0000 !important;
}

.botton-learn-more{
    height: 50px;
    width: 110px;
    margin-left: 5px;
}

.box-botton-learn-more{
    border: 1px solid #ff0000;
    background-color: #ff0000;
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    overflow: hidden;
}
  
.box-botton-learn-more li{
    float: left;
    margin-left: 8px;
    margin-top: 10px;
    height: 40px;
}

.box-botton-learn-more li a {
    font-size: 15px;
    color: rgb(255, 255, 255);
    display: block;
    padding: 0.3em;
    text-decoration: none;
}
