body{
    margin: 0px;
    font-family: 'Montserrat';
}

#down-strip{
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95));
    height: auto;
    border-bottom: dashed 0.1px rgb(233 233 233 / 30%);
}

#about{
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95));
}

.container-x{
    width: 1250px;
    height: 100%;
    margin: auto;
}

.navbar-x{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 50px;
    color: #fff;
    padding: 10px 0;
}

.boxes{
    width: auto;
}

.options{
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
  
.options li{
    float: left;
}

#unic a{
    color: #000;
}

.options li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#right a{
    padding-right: 0px;
}

.first-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texts{
    margin-left: 80px;
}

.box-text-unic-down{
    display: flex;
    align-items: flex-end;
    width: 190px;
    height: 100px;
    color: #fff;
    font-size: 36px;
}

.box-text-name{
    display: flex;
    align-items: center;
    height: 70px;
    color: #fff;
    font-size: 60px;
    margin-top: 10px;
}

.box-text-down{
    height: 40px;
    color: #fff;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.button{
    display: flex;
    justify-content:space-between;
    width: 245px;
}

.box-text-button{
    display: flex;
    justify-content: space-between;
}

.options-button{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    list-style: none;
    padding-left: 13px;
    padding-right: 5px;
    margin: 0px;
    overflow: hidden;
}
  
.options-button li{
    float: left;
    padding: 10px;
}

.options-button li a {
    font-size: 15px;
    color: rgb(255, 0, 0);
    display: block;
    padding: 0.3em;
    text-decoration: none;
}

.button-box-second{
    width: auto;
    display: flex;
}

.options-button-second{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
  
.options-button-second li{
    float: left;
    margin: 10px;
}

.options-button-second li a {
    font-size: 15px;
    color: rgb(255, 0, 0);
    display: block;
    padding: 0.3em;
    text-decoration: none;
}

.image{
    margin-top: 30px;
}

.first-image{
    display: flex;
    align-items: flex-start;
    width: auto;
    height: 650px;
    margin-right: 50px;
}

.first-text{
    display: flex;
    width: auto;
    height: auto;
}

.drew{
    width: 20px;
    height: 2.7px;
    margin-top: 9px;
    background-color: #f00;
}

.second-drew{
    width: 3px;
    height: 2.7px;
    margin-top: 9px;
    background-color: #f00;
    margin-left: 2px;
}

.second-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-header{
    color: rgb(86 86 86);
    font-size: 14px;
    margin-left: 5px;
}

.first-title{
    font-size: 40px;
    width: auto;
    height: 50px;
    margin-bottom: 10px;
}

.paragraph{
    color: #707070;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.first-porcentage-box{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: #707070;
    margin-top: 20px;
}

.second-porcentage-box{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: #707070;
    margin-top: 20px;
}

.third-porcentage-box{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: #707070;
    margin-top: 20px;
}

.fourth-porcentage-box{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: #707070;
    margin-top: 20px;
}

.progress{
    border-radius: 20px !important;
    height: 15px !important;
}

.progress-bar{
    background-color: #ff0000 !important;
}

.botton-learn-more{
    height: 50px;
    width: 110px;
    margin-left: 5px;
}

.box-botton-learn-more{
    border: 1px solid #ff0000;
    background-color: #ff0000;
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    overflow: hidden;
}
  
.box-botton-learn-more li{
    float: left;
    margin-left: 8px;
    margin-top: 10px;
    height: 40px;
}

.box-botton-learn-more li a {
    font-size: 15px;
    color: rgb(255, 255, 255);
    display: block;
    padding: 0.3em;
    text-decoration: none;
}

.page-three{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 560px;
    margin-top: 60px;
}

.title-page-three{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.what-i-do{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.drew-page-three{
    width: 20px;
    height: 2.7px;
    background-color: #f00;
}

.second-drew-page-three{
    width: 3px;
    height: 2.7px;
    margin-right: 5px;
    background-color: #f00;
    margin-left: 2px;
}

.text-what-i-do{
    color: #707070;
}

.second-text{
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: #3c3c3c;
}

.text-page-three{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.left-box{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
}

.page-three-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 140px;
    border: solid 2px #ff0000;
    margin-right: 30px;
}

.page-three-text{
    width: 58%;
    height: auto;
}

.title-text{
    font-size: 20px;
    margin-bottom: 5px;
}

.lorem{
    color: #707070;
    font-size: 15px;
}

.fa-solid , .fa-laptop-code{
    color: #ff0000;
    font-size: 70px;
}

.right-box{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
}

.page-three-image-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 140px;
    border: solid 2px #ff0000;
    margin-right: 30px;
}

.page-three-text-right{
    width: 58%;
    height: auto;
}

.title-text-right{
    font-size: 20px;
    margin-bottom: 5px;
}

.second-text-page-thre{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 50%;
}

.second-left-box{
    display: flex;
    width: 40%;
    height: auto;
    align-items: center;
}

.second-page-three-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 140px;
    border: solid 2px #ff0000;
    margin-right: 30px;
}

.second-page-three-text{
    width: 58%;
    height: auto;
}

.second-title-text{
    font-size: 20px;
    margin-bottom: 5px;
}

.second-right-box{
    display: flex;
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
}

.second-page-three-text-right{
    width: 58%;
    height: auto;
}

.second-page-three-image-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 140px;
    border: solid 2px #ff0000;
    margin-right: 30px;
}

.fa-brands , .fa-android{
    color: #ff0000;
    font-size: 70px;
}

.fa-brands , .fa-apple{
    color: #ff0000;
    font-size: 70px;
}

#finish-page{
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95));
}

.box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.title-second-finish-page{
    font-size: 45px;
}

.white{
    color: #fff !important;
}

.box-text-finish-page{
    text-align: center;
    width: 520px;
    color: #fff;
    margin-bottom: 20px;
}

.botton-finish-page a{
    color: #f00 ;
    background-color: #ffffff;
    padding: 10px 5px;
}
  
.images-finish-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 70px 0;
}

.box-one-finish-part{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.drew-finish-part{
    width: 20px;
    height: 2.7px;
    background-color: #f00;
}

.title-finish-part{
    color: #808080;
    margin-left: 5px;
}

.second-drew-finish-part{
    width: 3px;
    height: 2.7px;
    background-color: #f00;
    margin-left: 2px;
}

.box-second-finish-part{
    font-size: 35px;
}

.portfolio-buttons{
    margin: 20px 0;
}

.box-botton-finish-part{
    background-color: #ff0000;
    margin: 10px 2px;
    padding: 5px 10px;
    color: #fff;
}

.all-button{
    color: rgb(255, 0, 0);
    background-color: #fff;
    border: 1px solid #f00;
    margin: 10px 2px;
    padding: 5px 10px;
}

.box-four-finish-part{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: auto;
}

.box-four-finish-part img{
    width: 320px;
    height: auto;
}

.text-image-finish-part{
    border: solid black 1px;
    justify-content: space-between;
    display: flex;
    width: 300px;
    height: 200px;
}

.image-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 0px 5px #999;
    margin: auto;
    width: 290px;
    position: relative;
    top: -22px;
    background-color: white;
}

.plus{
    background-color: red;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
